*{    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
body{
    background-color: black;
}

a{
    text-decoration: none;
}

/*  */

#container{
    text-align: center;
}

#counter{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 7em;
}

.time{
    
    
    text-align: center;
    background-color: rgb(255, 142, 13);
    color: white;
    width: 60px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    
    font-size: 2em;
    margin: 1%;
    position: relative;
}

.semicolon{
    color: white;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    position: relative;
    float: left;
}


#inputs{
    width: 100%;
}

.btn-start{
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 1.5mm;
    border: none;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px 10px 10px 10px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px;
    margin-left: 10px;
}
.btn-start:hover{
    background-color: rgb(21, 197, 21);
}

.btn-reset{
    background-color: orange;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 1.5mm;
    border: none;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px 10px 10px 10px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px;
    margin-left: 10px;
}
.btn-reset:hover{
    background-color: rgb(255, 142, 13);
}

.btn-pause{
    background-color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 1.5mm;
    border: none;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px 10px 10px 10px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px;
    margin-left: 10px;
}
.btn-pause:hover{
    background-color: rgb(214, 16, 16);
}

.btn-continue{
    background-color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    border-radius: 1.5mm;
    border: none;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px 10px 10px 10px;
    outline: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background 0.3s;
    margin-right: 10px;
    margin-left: 10px;
}

.btn-continue:hover{
    background-color: rgb(34, 34, 173);
}

#btns{
    margin-top: 2%;
}

.hide{
    display: none;
}
.show{
    display: block;
}


/*------HEADER------*/
#header{
    background-color: rgb(44, 41, 41);
    width: 100%;  
    padding-top: 0.1%;
    padding-bottom: 0.1%; 
}


#title{
    color: rgb(255, 142, 13);
    text-align: center; 
}

.menu{
    text-align: center;
    text-decoration: none;
    margin-top: 2%;
    
}

.language{
    float: right;
    text-align: right;
    text-decoration: none;
    color: white;
    padding: 1% 2%;
    position: relative;
}

.a1{
    color: white;
    border-radius: 5%;
    background-color: green;
    padding: 1% 1%;
    /* margin-right: 2%; */
    
}
.a1:hover{
    color: wheat;
    background-color: rgb(19, 73, 19);
    transition: 0.5s;
}
.a2{
    color: white;
    border-radius: 5%;
    background-color: red;
    padding: 1% 1%;
    /* margin-left: 2%; */
}
.a2:hover{
    color: wheat;
    background-color: rgb(117, 23, 23);
    transition: 0.5s;
}

/* ------INSTRUCTIONS------ */

#instructions{
    color: white;
    background-color: rgb(44, 41, 41);
    padding: 2% 3%;
    text-align: center;
    border: none;
    margin-top: 4%;
}

#instructions p{
    font-size: 5mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#s{color: green;}
#p{color: red;}
#c{color: blue;}
#r{color: orange;}



/* ------FOOTER------ */
footer{
    background-color: rgb(20, 17, 17);
    padding: 1% 2%;
    color: white;
    text-align: center;
}

/* break points */

/* 320x568 (iPhone5) */
@media screen and (min-width: 320px){
    #counter{font-size: 3em;}
    #title{font-size: 16px; padding-bottom: 6px;}
    .language{font-size: 10px;}
    #footer{font-size: 15px;}
    .menu{font-size: 8px;}
    #btns button{font-size: 18px;}
}

/* 375x667 (iPhone6) */
@media screen and (min-width: 375px){
    #counter{font-size: 3em;}
    #title{font-size: 20px; padding-bottom: 0;}
    .language{font-size: 15px;}
    #footer{font-size: 15px;}
    .menu{font-size: 10px;}
    #btns button{font-size: 21px;}
}

/* 1024x768 (iPad) */
@media screen and (min-width: 1024px){
    #counter{font-size: 6em;}
    #title{font-size: 2em;}
    .language{font-size: 15px;}
    #footer{font-size: 15px;}
    .menu{font-size: 20px;}
    #btns button{font-size: 35px;}
}